//compress: false
@import "vars";


html, body {
    font-size: 15px;
}
body {
    margin: 0;
    color: @black;
    font-family: Arial, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

//blocks
@import "blocks/title"; 
@import "blocks/btn";
