//compress: false
@import "vars";
@import "title";

html, body {
    font-size: 15px;
}
body {
    margin: 0;
    color: @black;
    font-family: Arial, sans-serif;
}

//Blocks
@import "blocks/title"; 

