//main: ../style.less

.btn {
    display: inline-block;
    vertical-align: top;
    padding: .5em 1em;

    background-color: #ccc;
    border-radius: @radius;
    
    font-family: inherit;
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;

    &--primary {
      background-color: @primary;  
    }

    &--secondary {
        background-color: @secondary;
    }
}